.header {
	position: absolute;
	width: 100%;
	top:0;
	left:0;
	z-index: 20;
	padding: 0 7rem;
	@media (max-width: 69rem) {
		padding: 0 2rem;
	}
	&__container {
		margin: 0 auto;
		position: relative;
		display:flex;
		justify-content: space-between;
		height: 10rem;
		align-items: center;
		@media (max-width: 48rem) {
			flex-direction: column;
			height: 8rem;
		}
	}
	&__logo {
		&_minisize {
			display: none;
			@media (max-width: 48rem) {
				display: block;
			}
		}
		&_commonsize {
			@media (max-width: 48rem) {
				display: none;
			}
		}
		&.active {
			.header__logo_minisize {
				display: block;
			}
			.header__logo_commonsize {
				display: none;
			}
		}
	}
	&__item {
		position: relative;
		display: flex;
		@media (max-width: 48rem) {
		justify-content: space-evenly;
		}
		img {
			max-width: 100%;
			display: block;
		}
	}
	&__icons {
		display: flex;
		padding: 0 3.5rem;
		img {
			margin: 0 3rem 0 0;
			@media (max-width: 48rem) {
		}
	}
		@media (max-width: 48rem) {
			padding: 0;
		}
	}
	&__burger {
		cursor: pointer;
	}
}

.header__burger {
		display: block;
		position: relative;
		width: 1.875rem;
		height: 1.25rem;
		z-index: 3;
		&:before, &:after {
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 0.125rem;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		span {
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 0.125rem;
			left: 0;
			top: 0.563rem;
			transition: all 0.3s ease 0s;
		}
		&.active:after {
			transform: rotate(-45deg);
			bottom: 0.563rem;
		}
		&.active:before {
			transform: rotate(45deg);
			top: 0.563rem;
		}
		&.active span {
			transform: scale(0);
		}
}
