//<ШРИФТЫ>====================================================
//<Подключаем шрифты>=========================================
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@font-face {
	font-family: "Futura PT";
	src: url("../fonts/Futura PT/FuturaCyrillicLight.ttf") format("ttf"),
	url("../fonts/Futura PT/FuturaCyrillicLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Futura PT";
	src: url("../fonts/Futura PT/FuturaCyrillicBook.ttf") format("ttf"),
	url("../fonts/Futura PT/FuturaCyrillicBook.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Futura PT";
	src: url("../fonts/Futura PT/FuturaCyrillicMedium.ttf") format("ttf"),
	url("../fonts/Futura PT/FuturaCyrillicMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Futura PT";
	src: url("../fonts/Futura PT/FuturaCyrillicDemi.ttf") format("ttf"),
	url("../fonts/Futura PT/FuturaCyrillicDemi.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI";
	src: url("../fonts/Segoe UI/Segoe UI Italic.ttf") format("ttf"),
	url("../fonts/Segoe UI/Segoe UI Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Segoe UI";
	src: url("../fonts/Segoe UI/seguili.ttf") format("ttf"),
	url("../fonts/Segoe UI/Segoe UI Italic Light.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}
//</Подключаем шрифты>========================================
//</ШРИФТЫ>===================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>================================
@import 'nullstyle.scss';

body{
	font-family: "Futura PT";
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.3;
	color: #757575;
	background-color: #fff;
}

a {
	color: inherit;
}

a {
	&:hover {
		opacity: 0.8;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================


//<ОБОЛОЧКА>==================================================
.wrapper{
overflow: hidden;
min-height: 100%;
}
//</ОБОЛОЧКА>=================================================


//<ОСНОВНАЯ СЕТКА>============================================
.container{
  max-width: 180rem;
  margin: 0 auto;
}
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=============
@import "ibg.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============

//<ОСНОВНОЙ БЛОК>=============================================
//<collection>=============================================
.collection {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	max-height: 65rem;
	margin: 0 auto;
	padding: 0 6rem;
	@media (max-width: 48rem) {
		padding: 0 0.5rem;
	}
	&__bg {
		background-color: #272727;
		position: absolute;
		top: 0;
		right: 0;
		width: 38%;
		height: 65rem;
		@media (max-width: 48rem) {
			width: 100%;
		}
		&.active {
			width: 100%;
		}
	}
	&__row {
		width: 100%;
		height: 65rem;
		position: relative;
		z-index: 10;
		display: flex;
		flex: 1 1 auto;
		justify-content: center;
		padding: 25rem 0 5rem 0;
		margin: 0 -2rem;
		@media (max-width: 48rem) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__item {
		flex: 1 1 50%;
		display: flex;
		flex-direction: column;
		padding: 0 2rem;
	}
	&__text {
		height: auto;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		@media (max-width: 48rem) {
			order: 2;
		}
	}
	&__title {
		font-family: 'Forum';
		font-style: normal;
		font-weight: 400;
		font-size: 4rem;
		line-height: 1.11;
		display: flex;
		align-items: center;
		letter-spacing: 0.03em;
		color: #272727;
		@media (max-width: 48rem) {
			color: #fff;
			font-size: 3rem;
		}
	}
	&__link {
		font-family: 'Segoe UI';
		font-style: italic;
		font-weight: 300;
		position: relative;
		padding: 3rem 0 0 19rem;
		@media (max-width: 48rem) {
			padding: 3rem 0 0 13rem;;
		}
		&:before {
			content: "";
			width: 8rem;
			height: 0.06rem;
			background-color: #272727;
			position: absolute;
			top: 3.8rem;
			left: 6rem;
			@media (max-width: 48rem) {
				background-color: #C2C2C2;
				width: 6rem;
			}
		}
		@media (max-width: 48rem) {
			color: #C2C2C2;
		}
	}
	&__lang {
		position: relative;
		z-index: 20;
		font-size: 1rem;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #C4C4C4;
		margin: 3em 0 0 0;
		@media (max-width: 48rem) {
			color: #C2C2C2;
			order: 1;
			margin: -10em 0 6em 0;
		}
		.active {
			color: #272727;
			@media (max-width: 48rem) {
				color: #fff;
			}
		}
	}
}

.product {
	display: flex;
	flex-direction: column;
	&__picture {
		justify-self: center;
	}
	&__picture_pos {
		flex: 1 1 auto;
		img {
			@media (max-width: 48rem) {
				max-width: 100%;
			}
		}
	}
	&__description {
		display: flex;
		flex-direction: column;
		margin: 3rem 0 0 0;
	}
	&__description_pos {
		align-items: end;
		align-self: end;
	}
	&__title {
		font-size: 1rem;
		line-height: 1.3;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #fff;
	}
	&__text {
		color: #C2C2C2;
		font-weight: 300;
		line-height: 1.3;
		margin: 0.5rem 0;
	}
	&__price {
		color: #EFC58B;
		line-height: 1.4;
		letter-spacing: 0.03em;
		font-family: 'Segoe UI';
		font-style: italic;
		font-weight: 300;
	}
}
//</collection>=============================================

//<menu>====================================================
.menu {
	position: absolute;
	z-index: 30;
	top: -250%;
	left: 0;
	width: 100%;
	background-color: #272727;
	color: #fff;
	&.active {
		top: 10rem;
		transition: all 0.3s ease 0s;
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		padding: 0 0 3rem 0;
	}
	&__categories {
		padding: 0 5rem;
		width: 100%;
		background-color: #2F2F2F;
		flex:  1 1 5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__menu__tablinks, button {
			font-weight: 450;
			font-size: 1rem;
			line-height: 1.3;
			letter-spacing: 0.06em;
			text-transform: uppercase;
			&:after {
				display: none;
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 0.125rem;
				top: 3rem;
				left: 0;
			}
			&.active, &:active, &:hover {
				&:after {display: block;}
			}
			@media (max-width: 48rem) {
				padding: 1rem 0;
			}
		}
		@media (max-width: 48rem) {
			flex-direction: column;
		}
		button {
			background-color: #2F2F2F;
			color: #fff;
			position: relative;
			margin: 0 1rem 0 0;
			&:last-child {
				margin: 0;
			}
			
		}
	}
	&__content {
		width: 100%;
		padding: 2rem 5rem 5rem 5rem;
		@media (max-width: 48rem) {
			padding: 2rem;
		}
			}
	&__tabcontent {
		width: 75%;
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		margin: 0 -1rem;
		@media (max-width: 69rem) {
			width: 100%;
		}
		@media (max-width: 48rem) {
			flex-wrap: wrap;
			justify-content: start;
		}
	}
	&__list {
		padding: 0 1rem;
		display: flex;
		flex-direction: column;
	}
	&__cont-title {
		margin: 3rem 0 2rem 0;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.3;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	&__link {
			margin: 0 0 0.7rem 0;
			&:last-child {
				margin: 0;
		}
		&_more {
			font-family: 'Segoe UI';
			font-style: italic;
			font-weight: 300;
			font-size: 1rem;
			line-height: 1.3;
			color: #EFC58B;
		}
	}
	&__info {
		padding: 0 5rem;
		width: 100%;
		flex: 1 1 40%;
		display: flex;
		margin: 0 -5rem;
		@media (max-width: 69rem) {
			flex-direction: column;
		}
	}
	&__pic {
		flex: 1 1 70%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 5rem;

	}
	&__pic-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__text1 {
		position: relative;
		z-index: 10;
		margin: 2rem -3rem;
	}
	&__pic-title {
		align-self: center;
		position: relative;
		z-index: 10;
		font-family: 'Forum';
		font-size: 3rem;
		line-height: 1.1;
		letter-spacing: 0.03em;
	}
	&__text2 {
		align-self: end;
		display: flex;
		position: relative;
		z-index: 10;
		margin: 2rem -4.5rem;
		img {
			margin: 0.25rem 1rem;
			width: 2rem;
			height: 1rem;
		}
	}
	&__contacts {
		flex: 1 1 30%;
		display: flex;
		flex-direction: column;
		padding: 0 5rem;
		.contacts__subscribe {
			padding: 2rem 0 0 0;
		}
		@media (max-width: 69rem) {
			padding: 4rem 0rem 3rem 0rem;
			align-self: start;
		}
	}
	&__lang {
		align-self: start;
		font-size: 1rem;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #C2C2C2;
		padding: 0 5rem;
		.active_dark {
			color: #fff;
		}
	}
}

.contacts {
	margin: -0.6rem 0 0 0;
	&__phone {
		p {
			margin: 0.7rem 0 0 0;
		}
	}
	&__socials {
		padding: 1rem 0 0 0;
	}
}

.phone {
	font-weight: 400;
	font-size: 0.88rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #fff;
	a {
		font-weight: 300;
		color: #C2C2C2;
	}
}

.socials {
	display: flex;
	img {
		margin: 0 0.7rem 0 0;
		max-width: 80%;
	}
}

.subscribe {
	&__form {
	}
	&__title {
		font-weight: 400;
		font-size: 0.88rem;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
	&::placeholder {
		font-weight: 300;
		color: #C2C2C2;
	}
	&__btn {
		width: 2rem;
		height: 1rem;
		background: no-repeat url("../img/icons/Arrow.svg");
		background-size: contain;
		margin: 0 0 0 3rem;
		cursor: pointer;
	}
	&__input {
		height: 2.5rem;
		margin: 0.05rem 0;
		background-color: #272727;
	}
	&__input-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 0.06rem solid #fff;
	}
}		

.apps {
	display: flex;
	margin: 1rem 0 0 0;
	img {
		margin: 0 1rem 0 0;
		border: 0.001rem solid #C2C2C2;
		border-radius: 0.5rem;
		overflow: hidden;
		height: 1.7rem;
	}
}
//</menu>====================================================

//<shops>====================================================
.shops {
	&__container {
		display: flex;
		flex-direction: column;
		padding: 1.165rem 0 0 0;
	}
	&__item {
		color: #fff;
	}
}

.division {
	padding: 0 0 1.165rem 0;
	&__row {
		display: flex;
		gap: 1.25rem;
		@media (max-width: 48rem) {
			flex-direction: column;
		}
	}
	&__elem {
		position: relative;
		flex: 1 1 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 14rem 0;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__subtitle {
		position: relative;
		z-index: 10;
		font-weight: 300;
		font-size: 1.5rem;
	}
	&__title {
		position: relative;
		z-index: 10;
		font-family: 'Forum';
		font-weight: 400;
		font-size: 4rem;
		line-height: 1.1;
		letter-spacing: 0.03em;
		&:after {
			content: "";
			width: 8rem;
			height: 0.06rem;
			background-color: #fff;
			position: absolute;
			top: 5.5rem;
			left: 7.2rem;
		}
	}
}

.address {
	&__row {
		display: flex;
		background-color: #272727;
		@media (max-width: 48rem) {
			flex-direction: column;
		}
	}
	&__elem {
		flex: 1 1 50%;
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-family: 'Forum';
		font-size: 3rem;
		line-height: 1.1;
		letter-spacing: 0.03em;
	}
	&__text {
		font-weight: 300;
		font-style: italic;
		padding: 1rem 0 3rem 0;
	}
	&__form {
		align-self: start;
		width: 100%;
	}
	&__map {
		width: 100%;
		height: 100%;
		-webkit-filter: grayscale(100%);
		@media (max-width: 48rem) {
			height: 30rem;;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

.container-add {
	padding: 10rem;
	@media (max-width: 69rem) {
		padding: 5rem 1rem;
	}
}
//</shops>====================================================

//<products>=================================================
.products {
	&__container {
		padding: 1.165rem 0 0 0;
	}
	&__row {
		display: flex;
		@media (max-width: 69rem) {
			flex-direction: column;
		}
	}
}
.item-products {
	&__card-cont {
		flex: 1 1 30%;
		min-height: 400px;
		display: flex;
		flex-direction: column;
		@media (max-width: 69rem) {
			flex-direction: row;
			gap: 1.165rem;
		}
		@media (max-width: 48rem) {
			flex-direction: column;
			gap: 0;
		}
		&_big{
			display: flex;
			flex: 1 1 40%;
			padding: 0 1.165rem;
			@media (max-width: 69rem) {
				padding: 0;
			}
		}
	}
	&__card {
		margin: 0 0 1.165rem 0;
		padding: 2rem;
		flex: 1 1 50%;
		background-color: #EDEDED;
		display: flex;
		justify-content: end;
	}
}

.product {
	&_big {
		background: none;
		position: relative;
	}
	&__picture {
		margin: 0 auto;
		&_bg {
			position: absolute;
			background-position:bottom;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: -5;
		}
	}
	&__title_color {
		color: #272727;
	}
	&__text_color {
		color: #757575;
	}
	&__price_color {
		color: #E2B67A;
	}
	&__text_big-color {
		color: #E7E7E7;
	}
	&__price_weight {
		font-weight: 400;
	}
}
//</products>=================================================

//<social>=================================================
.social {
	background-color: #272727;
	&__row {
		padding: 6.25rem 0;
		display: flex;
		flex-direction: column;
	}
	&__networks {
		padding: 0 0 0 10rem;
	}
	&__icons {
		@media (max-width: 69rem) {
			padding: 0 0 5rem 0;
		}
	}
}

.slider {
	&__wrapper {
		position: relative;
	}
}

.slider__title {
	font-family: 'Forum';
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.1;
	letter-spacing: 0.03em;
	color: #fff;
	padding: 0 0 0 10rem;
	@media (max-width: 69rem) {
		text-align: center;
		padding: 0;
	}
}
.image-slider {
	padding: 5rem 0;
	&__image {
		text-align: center;
		img {
			max-width: 100%;
			min-height: 25rem;
		}
	}
}
.image-slider .swiper-pagination {
	position: absolute;
	bottom: 0;
	left: 30%;
	@media (max-width: 69rem) {
		left: 0;
	}
	&-bullet {
		width: 0.625rem;
		height: 0.625rem;
		background-color: #fff;
	}
}
.image-slider .swiper-button-prev::after, .image-slider .swiper-button-next::after {
	color: transparent;
	font-size: 0;
}
.swiper-button-prev-unique {
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	position: absolute;
	z-index: 20;
	bottom: -1.4rem;
	right: 28%;
	@media (max-width: 69rem) {
		left: 10%;
	}
	img {
		transform: scale(-1.5, 1.5);
	}
}
.swiper-button-next-unique {
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	position: absolute;
	z-index: 20;
	bottom: -1.4rem;
	right: 10%;
	@media (max-width: 69rem) {
		right: 10%;
	}
	img {
		transform: scale(1.5, 1.5);
	}
}
.image-slider .swiper-slide {
	width: auto;
}
//</social>=================================================


//<block-contacts>=================================================
.block-contacts {
	&__container {
		max-width: 130rem;
		margin: 0 auto;
		display: flex;
		@media (max-width: 48rem) {
			flex-direction: column;
		}
	}
	&__item {
		flex: 1 1 50%;
	}
}
.item-pic {
	&__row {
		display: flex;
	}
	&__elem {
		@media (max-width: 48rem) {
			flex: 1 1 auto;
		}
		img {
			width: 100%;
		}
	}
}
.item-text {
	margin: auto 0;
	padding: 5% 5% 5% 10%;
	@media (max-width: 48rem) {
		margin: 10% 0;
	}
	&__row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
	}
	&__elem {
		flex: 1 1 50%;
	}
}
.phone {
	&_color {
		p {
			color: #272727;
		}
		a {
			color: #959595;
		}
	}
	&_size {
		p {
			font-size: 1.125rem;
		}
		a {
			font-size: 1.375rem;
		}
	}
}

.subscribe {
	&_size {
		padding: 6rem 0 0 0;
		input {
			margin: 1rem 0 0 0;
		}
	}
	&__title_color {
		color: #272727;
	}
	&__title_size{
		font-size: 1.125rem;
	}
	&__input-container_color {
		border-bottom: 0.06rem solid #272727;
	}
	&__input_color {
		&::placeholder {
			color: #C2C2C2;
		}
		background-color: #fff;
	}
	&__input_size {
		font-size: 1.375rem;
	}
	&__btn_color {
		background: no-repeat url("../img/icons/Arrowdark.svg");
		background-size: contain;
	}
}
//</block-contacts>=================================================
//</ОСНОВНОЙ БЛОК>============================================

